.tela {
  width: 67%;
  height: 100%;
}

.digitos {
  display: flex;
  justify-content: center;
}

span {
  min-width: 60px;
  min-height: 80px;
  border: 2px solid black;
  font-size: 3rem;
  margin: 2px;
  padding: 2px;
}

.candidato {
  height: 380px;
  justify-content: space-around;
}

img {
  margin: 60px 0 10px 0;
}

p {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
}
